@charset "UTF-8";

:root {
    --secondary: #5a6b63;
    --primary: #13131a;
    --main-color: #faf9f9;
    --accent: gray;
}

* {
    font-family: "Salesforce", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
}

.bctn {
    font-weight: 400;
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: var(--secondary);
    color: var(--main-color);
    border-radius: 0 4px 0 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.bctn:hover {
    opacity: 0.9;
}

#menu-btn {
    display: none;
}

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: rgb(26, 27, 29);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo {
    cursor: pointer;
    color: var(--secondary);
}

.header .logo img {
    max-width: 30%;
}

.header .logo img:hover {
    transition: all 1.9s ease;
}

.header .icons {
    color: var(--main-color);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
}

.header .icons:hover {
    color: var(--main-color);
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--main-color);
    text-decoration: none;
}

.header .navbar a:hover {
    color: var(--secondary);
    padding-bottom: 0.5rem;
}

.footer {
    text-align: center;
    background-color: #43504a;
    ;
}

.footer .share {
    padding: 0.8rem 0;
}

.footer .share a {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: var(--primary);
    margin: 0.8rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.footer .share a:hover {
    color: var(--accent);
}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #f8f4f4;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }


    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        font-size: 2
    }


    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

}