@import url('global.css');

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../imagens/home.avif') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #474646;
}

.home .content p {
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #444040;
}

.about .row {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafae1;
    flex-wrap: wrap;
    border-bottom: 1px solid #beb6b9;
    border-radius: 2px;
    margin-bottom: 15rem;
    margin-top: 15rem;
}


.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
    flex: 1 1 45rem;
    border-radius: 2px;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 2rem;
    color: #455a43;
    text-transform: uppercase;
}

.about .row .content p {
    font-size: 1.4rem;
    color: #455a43;
    padding: 1.4rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
}

.menu .box-container .box {
    background-color: #e6e6e6;
    text-align: center;
    padding: 1rem 1rem;
}

.menu .box-container .box:hover {
    background-color: #f3fdf0;
}

.menu .box-container .box p {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #252525;
}

.menu .box-container .box .product {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}


.menu .box-container .box .stars i {
    font-size: 1.5rem;
    padding: .4rem;
    color: #c0ab50;
}

span {
    color: #252525;
    display: block;
    font-size: 1.4rem;
    margin-bottom: .2rem;
}

.title {
    color: #455a43;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    font-size: 2rem;
}


@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: flex-start;
    }

    .about .row {
        padding: 0;
        margin-bottom: 10rem;
        margin-top: 2rem;
    }


    .about .about-content {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .about .about-content h3 {
        font-size: 1.4rem;
        color: black;
    }

    .about .about-content p {
        font-size: 2rem;
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .home {
        min-height: 40vh;
        background: none;
    }

    .home .home-content h3 {
        font-size: 1rem;
        font-weight: 700;
    }

    .about .about-content p {
        font-size: 1rem;

    }
}