.home {
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-size: cover;
    background-position: center;
}

.home .home-content {
    max-width: 30rem;
}

.home .home-content h2 {
    padding-bottom: 3rem;
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: var(--main-color);
}

.home .home-content p {
    font-size: 2.8rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1.3rem 0;
    color: #eee;
}

.about {
    margin-top: 2rem;
    padding: 4rem;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-content h3 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.about .about-content p {
    font-size: 1rem;
    padding: 1rem 0;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    background: var(--secondary);
    color: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .home .home-content h2 {
        font-size: 3rem;
        color: var(--secondary);
        background-color: rgba(255, 255, 255, 0.6);
        margin-bottom: 1rem;
        padding: 0;
    }

    .about .about-content h3 {
        font-size: 2rem;
    }

    .about .about-content p {
        font-size: 2rem;
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .home .home-content h3 {
        font-size: 2rem;
        font-weight: 700;
    }
    .about .about-content p {
        font-size: 1.4rem;
    }
}